{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
#check_form{
    width: 700px;
    margin: auto;
}
</style>

<div class="container">
    <form method="post" novalidate id="check_form" class="mt-3">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="{{ form.preset_name.id_for_label }}" class="form-label">Пресет проверки</label>
            <select name="{{ form.preset_name.name }}" id="{{ form.preset_name.id_for_label }}"
                class="form-select {% if form.preset_name.errors %}is-invalid{% endif %}">
                {% for option in form.preset_name.field.choices %}
                <option value="{{ option.0 }}">
                    <!-- <option value="{{ option.0 }}" {% if option.0 == form.preset_name.value %} selected {% endif %}> -->
                    {{ option.1 }}
                </option>
                {% endfor %}
            </select>
            {% if form.preset_name.errors %}
            <div class="invalid-feedback">
                {{ form.preset_name.errors.0 }}
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.url.id_for_label }}" class="form-label">URL</label>
            <input type="url" name="{{ form.url.name }}"
                class="form-control {% if form.url.errors %}is-invalid{% endif %}" id="{{ form.url.id_for_label }}"
                value="{{ form.url.value|default:'' }}">
            {% if form.url.errors %}
            <div class="invalid-feedback">
                {{ form.url.errors }}
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.html.id_for_label }}" class="form-label">HTML</label>
            <textarea type="text" name="{{ form.html.name }}" rows="16"
                class="form-control {% if form.html.errors %}is-invalid{% endif %}" id="{{ form.html.id_for_label }}"
                value=""></textarea>
            {% if form.html.errors %}
            <div class="invalid-feedback">
                {{ form.html.errors }}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Проверить</button>
    </form>
</div>
{%endblock%}