<details open>
  <summary class="{{tag_data.error_level.level}}">{{tag_data.name}}</summary>
  <div class="row mb-3">
    <div class="col">
      <p class="text-center">
        {%if tag_data.exist%}
        {{tag_data.get_short_display}}
        {%else%}
        elem not found
        {%endif%}
      </p>
    </div>
    <div class="col">
      <p>
        <!-- {{tag_data.errors}} -->

        {%if tag_data.errors.non_field_errors%}
        {%for error in tag_data.errors.non_field_errors%}
        <p class="error-message error-message-{{error.level.level}} text-{{error.level.level}}">{{error.message}}</p>
        {%endfor%}
        {%else%}
        <p class="error-message error-message-success text-success"></p>
        {%endif%}
      </p>
    </div>
  </div>
  {%if tag_data.exist%}
  <!-- TAG ATTRIBUTES TABLE -->
   

   <table class="table">
    <thead>
      <tr>
        <th scope="col">Attr</th>
        <th scope="col">Value</th>
        <th scope="col">Expected</th>
        <th scope="col" >Errors</th>
      </tr>
    </thead>
    <tbody>
      {%for attr_name, attr_data in tag_data.attributes.items%}
      <tr>
        <td><b>{{attr_data.name}}</b></td>
        <td>
          {%if attr_data.value is None%}
          -
          {%else%}
          "{{attr_data.value}}"
          {%endif%}
        </td>
        <td>
          {%if attr_data.expected%}
          "{{attr_data.expected}}"
          {%endif%}
          {%if attr_data.choices%}
          {{attr_data.choices}}
          {%endif%}
        </td>
        <td class="error-cell" >
          {%if attr_data.errors%}
          {%for error in attr_data.errors%}
          <p class="error-message error-message-{{error.level.level}} text-{{error.level.level}}">{{error.message}}</p>
          {%endfor%}
          {%else%}
          <p class="error-message error-message-success text-success"></p>
          {%endif%}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <!-- TAG ATTRIBUTES TABLE -->
  {%endif%}

  <!-- TAG CHILDRENS -->
  {% if tag_data.childrens %}

  {% for child_key, child_tag in tag_data.childrens.items %}
  {% if child_tag.is_list_tag %}
  {# Это список тегов #}
  {% for child_data in child_tag.items %}
  {% include "render_tag.html" with tag_data=child_data %}
  {% endfor %}
  {% else %}
  {# Это один тег #}
  {% include "render_tag.html" with tag_data=child_tag %}
  {% endif %}
  {% endfor %}

  {% endif %}
  <!-- TAG CHILDRENS -->
</details>