<details open>
  <summary>{{tag_data.selector}}</summary>
  <div class="row my-3">
    <div class="col">
      <p class="text-center">
        {%if tag_data.exist%}
        {{tag_data.get_short_display}}
        {%else%}
        elem not found
        {%endif%}
      </p>
    </div>
    <div class="col">
      <p>
        {%if tag_data.errors.non_field_errors%}
        {%for error in tag_data.errors.non_field_errors%}
        <span class="text-{{error.level}}">❌ <b>FAILED</b>: {{error.message}}</span>
        {%endfor%}
        {%else%}
        <span class="text-success">✅ <b>PASSED</b></span>
        {%endif%}
      </p>
    </div>
  </div>
  {%if tag_data.exist%}
  <!-- TAG ATTRIBUTES TABLE -->
   

   <table class="table">
    <thead>
      <tr>
        <th scope="col">Attr</th>
        <th scope="col">Value</th>
        <th scope="col">Expected</th>
        <th scope="col" >Errors</th>
      </tr>
    </thead>
    <tbody>
      {%for attr_name, attr_data in tag_data.attributes.items%}
      <tr>
        <td><b>{{attr_data.name}}</b></td>
        <td>"{{attr_data.value}}"</td>
        <td>
          {%if attr_data.expected%}
          "{{attr_data.expected}}"
          {%endif%}
          {%if attr_data.choices%}
          {{attr_data.choices}}
          {%endif%}
        </td>
        <td class="error-cell" >
          {%if attr_data.errors%}
          {%for error in attr_data.errors%}
          <span class="text-{{error.level}}">❌ <b>FAILED</b>: {{error.message}}</span>
          {%endfor%}
          {%else%}
          <span class="text-success">✅ <b>PASSED</b></span>
          {%endif%}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <!-- TAG ATTRIBUTES TABLE -->
  {%endif%}

  <!-- TAG CHILDRENS -->
  {% if tag_data.childrens %}

  {% for child_key, child_tag in tag_data.childrens.items %}
  {% if child_tag.is_list_tag %}
  {# Это список тегов #}
  {% for child_data in child_tag.items %}
  {% include "render_tag.html" with tag_data=child_data %}
  {% endfor %}
  {% else %}
  {# Это один тег #}
  {% include "render_tag.html" with tag_data=child_tag %}
  {% endif %}
  {% endfor %}

  {% endif %}
  <!-- TAG CHILDRENS -->
</details>